.formcreator {
    font-family: 'Exo 2', sans-serif;
    margin-top: 80px;
    font-weight: 400;
    text-align: center;
}
.formcreator h1 {
    color: black;
    text-align: center;
    margin-bottom: 40px;
}
#formbutton {
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    top: 65px;
    left: 15px;
    font-size: 20px;
    background-color: #FFC547;
    color: black;
    padding: 2px 5px 2px 5px;
    text-align: center;
}
#formbutton:hover {
    background-color: dark#FFC547;
}
#submitformbutton {
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    top: 65px;
    right: 15px;
    font-size: 20px;
    background-color: #FFC547;
    color: black;
    padding: 2px 5px 2px 5px;
    position: fixed !important;
    /*float: right;*/
}
#sendformbutton {
    font-family: 'Exo 2', sans-serif;
    /*position: absolute;*/
    top: 65px;
    right: 15px;
    font-size: 20px;
    background-color: #FFC547;
    color: black;
    padding: 2px 5px 2px 5px;
    /*float: center;*/
}
#submitformbutton:hover, #sendformbutton:hover {
    background-color: dark#FFC547;
}
.creator-dropdown {
    height: 30px;
    font-size: 20px;
    background-color: #FFC547;
    margin: 0px 7px 7px 0px;
}
.dp-wrapper {
    margin-bottom: 45px;
}
.formmakerbutton {
    font-size: 3em;
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    border-radius: .2em;
    background-color: #FFC547;
    color: black;
    font-family: 'Exo 2', sans-serif;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0;
    position: fixed !important;
}
.remove-dp, .remove-task, .remove-report {
    color: black;
}
.insert-dp:hover {
    color: green;
    cursor: pointer;
}
.remove-dp:hover, .remove-task:hover, .remove-report:hover {
    color: red;
    cursor: pointer;
}
.option-box, .dp-box, .start-box, .min-box, .max-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    border: 1px solid #FFC547;
    background-color: #E9E9E9;
    height: 30px;
    font-size: 20px;
    color: black;
}
.data-point-name {
    color: black;
}
#add-data-point-button {
    height: 22px;
    width: 123px;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #FFC547;
    margin-top: 3px;
}


.full {
	height: 20vh;
	display: inline-block !important;
	width: 100%;
	
}
