@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo_2/Exo2-ExtraLight.ttf')  format('truetype');
 }
 @font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo_2/Exo2-Regular.ttf')  format('truetype');
    font-weight: bold;
 }
.hidden  {
    display: none; /* hides elements under class "hidden" (not to be changed)  */
}

*{
	margin: 0; /* removes default margins of HTML elements (not to be changed) */
	padding:0; /* removes default paddings of HTML elements (not to be changed) */
	border: 0; /* removes default borders of HTML elements (not to be changed) */
	-webkit-border-radius: 0px; /* sharp angles for text boxes in safari (not to be changed) */
}

h2{

	text-align: center;
	font-family: 'Exo 2', sans-serif;

}

#lastname{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
	border-bottom: none;
}
#teamnumber{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
	border-bottom: none;
}
#teamname{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
	border-bottom: none;
}

#teamcode{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
	border-bottom: none;
}
#teamcode_create{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
}

html{

}

body {
    background: #000000; /* background color */
	font-size: 100%; /* makes default px size of elements equal to 1em (not to be changed) */
}

/* NAVIGATION BAR STYLES */
#morscout{
	pointer-events: none;
}

.navbar-default .container-fluid {
  background-color: orange; /* color of nav bar */
  font-family: 'Open Sans', sans-serif; /* font of nav bar links */
  width: 100%; /* width of nav bar (not to be changed) */
}

.navbar-default{
	border: 0; /* removes thin white line at bottom of the nav bar (not to be changed) */
}

.navbar-default a:not(#nameD):not(#view_prof):not(#logout) {
  text-transform: uppercase; /* changes every link in the nav bar to upper-case except for user profile dropdown menu */
  font-size: 1.1em; /* size of nav bar links except for user profile dropdown menu */
}

.navbar-default a {
  font-size: 1.3em; /* user profile dropdown menu font size */
  font-weight: bold; /* user profile dropdown menu font weight */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header > a:hover  {
	color: white; /* color of hovered links in nav bar */
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a{
	color: black; /* color of un-hovered links in nav bar */
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: black; /* color of text of selected link in nav bar */
background-color: #EE7600; /* color of background of selected link in nav bar */
}

.navbar-default div.navbar-collapse {
    border-top: 0; /* removes thin white line above hamburger menu (not to be changed) */
}

.navbar-nav li{
	text-align: center; /* sets horizontal aligns of links in the hamburger menu */
}

#toggle_button{
	background-color: orange; /* sets background color for background of hamburger menu toggle button */
	border:0; /* removes border of hamburger menu toggle button (most likely not to be changed) */
	border-radius: 0; /* gives hamburger menu toggle button sharp corners */
}

#toggle_button:hover{
	background-color: #EE7600; /* gives background color to hovered hamburger menu toggle button*/
	border:0; /* removes border of hamburger menu toggle button when hovered (most likely not to be changed) */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black; /* sets color of the foreground(I know, it's weird) of the hamburger menu toggle button */
}

	/* NAVBAR STYLES FOR MOBILE */
	  /*
		.navbar {
			min-height:38px;
		}
		.navbar .navbar-brand{
			padding: 0 12px;
			line-height: 38px;
			height: 38px;
		}
		.navbar .navbar-nav > li > a {
			padding-top: 0px;
			padding-bottom: 0px;
			line-height: 38px;
		}
		.navbar .navbar-toggle {
			margin-top: 3px;
			margin-bottom: 0px;
			padding: 8px 9px;
		}
		.navbar-default .container-fluid {
			padding-top: 15px;
		}
	  */
	/* END OF NAVBAR STYLES FOR MOBILE */

/* END OF NAVIGATION BAR STYLES */


/* GENERAL STYLES */

.page_title {
	font-family: 'Exo 2', sans-serif; /* font of page title */
	color: orange; /* font color of page title */
	margin-top: 5em; /* distance of page title from top */
	text-align: center !important; /* aligns page title to center */
}

#loading{
	width: 100%; /* width of loading message */
	position: fixed; /* position of loading message is static (not to be changed) */
	top: 45%; /* distance from top of loading message */
	text-align: center; /* horizontal alignment of loading message */
	color: orange; /* text color of loading message */
	font-family: 'Exo 2', sans-serif; /* font of loading message */
}

.normal_text p{
	color: orange; /* color of text for writing anything which isn't of any special section */
	margin: 1em; /* margin for writing anything which isn't of any special section */
	font-size: 1.8em; /* font size for writing anything which isn't of any special section */
}
.normal_text{
	margin-top: 7em; /* distance of general writing from top of page */
}
.QApair{
	margin: 1em; /* margin of question and answer pair on help page */
	margin-bottom: 3em; /* bottom margin of question and answer pair on help page */
	border: 0.1em solid orange; /* border of question and answer pair on help page */
	max-width: 55em;
	margin-left: auto;
	margin-right: auto;

}
#help_container{
	margin: 1em;
}
.q{
	font-weight: bold;
	color: #EE7600 !important;
}

#team_search{
	margin-top: 1em;
	margin-bottom: 0;
}
.delete{
	background-color: red;
	color: white;
	padding: 0.2em;
	display: inline-block;
	margin-left: .7em;
}
.delete:hover{
	background-color: #B80000;
	color: #CCCCCC;
}
.noDataMsg{
	font-size: 3.6em;
	font-family: 'Exo 2', sans-serif;
	color: orange;
}
.pitScouted{
	background-color: orange !important;
	color: black;
}
/* END OF GENERAL STYLES */

/* TABLE STYLES */

table, th, td {
    border: 1px solid white; /* sets border width, style, and color for all table cells */
	border-collapse: collapse; /* collapses cell borders (not to be changed) */
	font-size: 1.4em; /* sets font size of text in table cells */
	text-align: center; /* horizontal alignment of text in table cells */
}

th,td {
    padding: .3em; /* padding(distance of text from borders) of table cells (not to be changed) */
}

.matches_table, .teams_table{
	color: orange; /* color of text in all matches and all teams tables */
	width: 90%; /* width of all matches table */
	margin: 1.4em auto; /* margin of all matches and all teams table */
	margin-bottom: 2em; /* distance of tables from bottom of page */
}

.teams_table{
	width: 30em; /* to override the width from the ^ previous styles for the all teams table */
}

.report_table{
	margin-top: 2.2em; /* top margin of report screen table */
	margin-bottom: 1em; /* bottom margin of report screen table */
	color: #CCCCCC; /* text color of report screen table */
	width: 90%; /* width of report screen table */
	margin-left: auto; /* auto aligns report screen table */
	margin-right: auto; /* auto aligns report screen table */
	height:12.3em;
	min-width: 20em;
	max-width: 35em;
}

.odd_row {
	background-color: #303030; /* background color of odd rows in tables */
}

.current_match{
	background-color: orange !important; /* background-color of current match row in matches table */
	color: black !important; /* text color of current match row */
	line-height: 6vh; /* height of current match row */
}

.current_match:hover {
	background-color: #EE7600; /* background color of current match row when hovered */
}


#r1, #r2, #r3{
	background-color: #B80000 ; /* background color of table cells of red teams */
}
#rh {
	background-color: #760000; /* background color of table header cell of red teams */
}
#b1, #b2, #b3{
	background-color: #0029A3; /* background color of table cells of blue teams */
}
#bh {
	background-color: #001962; /* background color of table header cell of blue teams */
}

.redTeamHeader{
	background-color: #760000;
	color: #CCCCCC;
}
.blueTeamHeader{
	background-color: #001962;
	color: #CCCCCC;
}
.table_hover > td{
	background-color: #C0C0C0 !important;
	color: black !important; /* color of text when any row is hovered over */
	cursor: pointer !important; /* changes cursor to shape of hand when hovering over rows (not to be changed) */
}
.table_head{
	background-color: #303030 !important;
	white-space: nowrap;
}

.redTeamHighlight{
	background-color: #B80000 ;
	color: #CCCCCC;
}
.blueTeamHighlight{
	background-color: #0029A3;
	color: #CCCCCC;
}
.frenemyTeamHighlight{
	background-color: purple;
	color: #CCCCCC;
}
.allyTeamHighlight{
	background-color: green;
	color: #CCCCCC;
}
.enemyTeamHighlight{
	background-color: #BB0000;
	color: #CCCCCC;
}
.selfTeamHighlight{
	background-color: DarkOrange;
	color: black;
}



/* END OF TABLE STYLES */

/* JON WROTE ALL OF THIS AND HE IS THE BEST WRITER. */
/* I APPROVE -FARBOD */


/* STYLES FOR SMALLER SCREENS */

@media screen and (max-width: 420px){
	.main_welcome h1 {
		font-size: 19vw; /* scaling font size for "MorScout" text */
	}
	.main_welcome h3 {
		font-size: 6vw; /* scaling font size for "Welcome to MorScout" text */
	}
	#report_title{
		text-align: center; /* horizontal alignment of title of report page */
	}
	#team_report_area{
		width: 90%; /* scaling width for report box in all teams page */
	}

}
/*
@media screen and (max-width: 623px){

	.matches_table{
		font-size: 2vw !important; /* scaling font size for text in all matches table
		line-height: 4vh; /* larger scaling line height for text in all matches table for easier match selecting on small screens
	}
*/
}
@media screen and (max-width: 991px){
	.scout_div{
		margin-bottom: 0 !important;
	}
}

@media screen and (max-width: 456px){
	.teams_table{
		width: 90% !important; /* scaling width for all teams table */
	}
	.scout_div{
		font-size: 2.5vw;
	}
	label:before{
		width: 5vw;
		height: 5vw;
	}
	input[type=checkbox]:checked + label:before {
	    content: "\2713";
	    font-size: 5vw;
	    color: orange;
	    text-align: center;
	    line-height: 4.5vw;
	}
	input[type=radio]:checked + label:before {
	    line-height: 2vw;
	}
	.report_area{
		width: 94%; /* width of report boxes */
	}
	.submit_match{
		text-align: right;
		margin-right: 5em;
		width: 94%;
	}
	.report_radio_check{
		padding-left:1.3em !important;
	}
}

@media only screen (height: 736px) and (width: 414px) {
	/* insert here css styles that apply to iPhone 6 plus */
}

@media screen and (max-width: 1199px){
	.QApair{

	}
}
/* END OF STYLES FOR SMALLER SCREENS */
