.left-bar {
	background-color: #FFC547;
	width: 25em;
	height: calc(100% - 3em);
	position: fixed;
	top: 4em;
	overflow-y: auto;
	z-index: 87;
	-webkit-overflow-scrolling: touch;
	text-align: center !important;
	float: center !important;
}

#profile-name {
	padding-top: 2em;
	font-size: 3em;
}

.profile-pic {
	margin: 2.4em 5.4em 0em 5.4em;
	width: 15em;
	height: 15em;
	border: 1px solid gray;
	object-fit: cover;
}

.assignments {
	width: auto;
	text-align: center;
	margin-left: 40em;
	/*margin-right: 5px;*/
	margin-top: 7em;
	height: auto;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
}

.assignments li {
	font-size: 28px;
}

.stats {
	width: auto;
	text-align: center;
	margin-left: 0em;
	margin-right: 10em;
	/*margin-right: 5px;*/
	margin-top: 7em;
	height: auto;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
}

.stats li {
	font-size: 28px;
	list-style-type: none;
}

#tasks {
	padding-top: 5em;
}

#left-bar-button {
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	border-radius: .2em;
	background-color: orange;
	color: black;
	font-family: 'Exo 2', sans-serif;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 0;
	text-align: center;
}

#left-bar-button:hover {
	color: white;
}

.scout-div-title {
	font-family: 'Exo 2', sans-serif !important;
	color: black;
	margin-left: 5em;
	text-align: center !important;
}

#assign-task-box {
	margin-left: 20em;
	height: 6em;
	width: 30em;
	font-family: 'Exo 2', sans-serif;
	font-size: 3em;
	background-color: #c0c0c0;
	color: black;
	padding: 0.2em;
}

#assign-task-box::-webkit-input-placeholder {
	color: grey !important;
}

#assign-button {
	margin-top: 1em;
	margin-left: 11em !important;
	font-size: 2.5em;
}

.assign-task-div {
	/*margin-left: 22em;*/
}

.assign-task {
	text-align: center;
}

.task-tbox {
	margin-left: 1em;
	font-size: 1.7em;
	margin-top: 1em;
	width: 5em;
}

.task-heading {
	margin-top: 1em;
	margin-left: 20em;
	font-size: 2em;
}

.task-inline {
	display: inline-block;
}

#task-second-word {
	margin-left: 0.5em;
}

.task-dropdown {
	height: 1.6em;
	font-size: 1.5em;
	background-color: #FFC547;
	margin: 0px 7px 7px 1em;
}

.profile-div-title {
	margin-left: 0em;
	font-size: 2.5em;
	font-size: 2em;
}

#first-word {
	margin-left: 12em;
}

#task-assign-heading {
	margin-left: 15em;
}

.profile-li-font {
	font-size: 1.5em !important;
	list-style-type: circle;
}

.profile-li-font:before {
	color: #FFC547;
}