#scout-form {}

#view-pit-reports {}

#view-match-reports {}

#gallery {}

#view-regional-results {}

#view-team-stats {}

.subtitle {
  font-family: 'Exo 2', sans-serif;
  color: black;
  text-align: center !important;
  margin-top: 0.5em;
}

#first-subtitle {
  margin-top: 1.5em;
}

#matches-table,
.matches-table {
  width: auto;
}

#match-table {
  border: 1px;
  border-collapse: separate;
  width: auto;
  overflow-x: scroll;
  width: 80em;
  display: block;
}

#match-table-holder {
  height: 10em;
}