.row{
	height: 700px;
	float: left;
	overflow: hidden;
}
.odd-row {
	background-color: #262626;
}
.even-row {
	background-color: #161616;
}

.odd-row-pic{
	margin-top: 125px;
	width: 75em;
	margin-left: -25em;
	float: left;
	box-shadow: -20px -20px 60px black;
}
.even-row-pic{
	margin-top: 125px;
	width: 75em;
	margin-right: -25em;
	float: right;
}

.odd-row-text{
	color: orange;
	margin: 0px 100px 0px 600px;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-size: 19px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.even-row-text{
	color: orange;
	margin: 0px 600px 0px 100px;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-size: 19px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

}

.row-title{
	display: block;
	font-size: 60px;
	padding-bottom: 15px;
}
