.main_welcome  {
	margin-top: 20vh; /* sets welcome message distance from top of page  */
	font-family: 'Exo 2', sans-serif; /* sets welcome message font */
	font-weight: 400;
}

.main_welcome h1 {
	color: orange; /* sets large "MorScout" text color to orange */
	font-size: 8em; /* sets font size of large "MorScout" text */
	text-align: center; /* horizontal alignment of large "MorScout" text */
}

.main_welcome h3 {
  text-align:center; /* horizontal alignment of small "Welcome to MorScout" text */
  color: orange; /* sets font color of small "Welcome to MorScout" text */
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
}
